.full {
  width: 100%;
  margin-bottom: 16px;
}

mat-error div {
  line-height: 1.2;
}

:host ::ng-deep .mat-mdc-form-field-appearance-outline .mat-mdc-notched-outline__notch {
  padding-top: 2px;
}

:host ::ng-deep .mat-mdc-floating-label {
  line-height: 1.2;
}

:host ::ng-deep .mat-mdc-form-field-subscript-wrapper {
  min-height: 22px;
  padding-top: 4px;
}
